/.vs
/.idea
/OpenMarket.IoC/obj
/OpenMarket.IoC/bin
/OpenMarket.Domain/obj
/OpenMarket.Domain/bin
/OpenMarket.Domain.Services/bin
/OpenMarket.Domain.Services/obj
/OpenMarket.Infra.Data/obj
/OpenMarket.Infra.Data/bin
/OpenMarket.Infra.Security/obj
/OpenMarket.Infra.Security/bin
/OpenMarket.WebApi/bin
/OpenMarket.WebApi/obj
/OpenMarket.Web/obj
/OpenMarket.Web/bin
/OpenMarket.Web/node_modules
/*/bin
/OpenMarket.Domain.Services/obj
/OpenMarket.Web/Properties/PublishProfiles
/OpenMarket.WebApi/OpenMarket.WebApi.csproj.user
/OpenMarket.Web/wwwroot/js/site.min.js
